/* OffersSlider.css */
.offers-slider-container {
    margin: 20px 0;
  }
  
  .offer-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    text-align: center;
  }
  
  .offer-card img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  
  .offer-card div {
    padding: 10px;
  }
  
  .offer-card h3 {
    margin: 10px 0;
  }
  
  .offer-card p {
    margin: 10px 0;
  }
  